<div class="card" style="width: 18rem;">
    <img src="{{foto}}" class="card-img-top">
    <div class="card-body">
      <h5 class="card-title" style="width: 18rem; text-align: center;">{{namalengkap}}</h5>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">Username: {{username}}</li>
      <li class="list-group-item">Alamat Email: {{email}}</li>
      <li class="list-group-item">Alamat: {{alamat}}</li>
      <li class="list-group-item">Nomor Telepon: {{telepon}}</li>
      <li class="list-group-item">Tanggal Lahir: {{tanggallahir}}</li>
    </ul>
  </div>
<a routerLink="/editprofile" routerLinkActive="active"> &nbsp; Edit Profile</a>
