<div class="container pt-3 pb-2">
    
    <div class="card-group text-center" >
        <div class="card">
            <div>
                <img src="{{kantin.result.foto}}" class="card-img-top" style="width: 50%;">    
            </div>
           
            <div class="card-body">
                <h5 class="card-title">{{kantin.result.nama}}</h5>
                <h6 class="card-text">{{kantin.result.kategori}}</h6>
                <p class="card-text">{{kantin.result.deskripsi}}</p>
            </div>
            <!-- <div class="card-footer">
                <small class="text-muted">{{kantin.result.cash}}</small>
                <small class="text-muted">{{kantin.result.gopay}}</small>
                <small class="text-muted">{{kantin.result.ovo}}</small>
                <small class="text-muted">{{kantin.result.dana}}</small>
            </div> -->
        </div>
      </div>
</div>