<div class="container pt-3 pb-2">
    <h3 class="text-center" style="padding: 20px;">DAFTAR MENU</h3>
    <div class="card-columns">
        <div class="col mb-4" *ngFor="let kantin of kantin.result.kantin" routerLink="./{{kantin.kode}}"> 
            <div class="card">
                <img src="{{kantin.foto}}" class="card-img-top" style="width: 100%;">
                <div class="card-body">
                    <h5 class="card-title">{{kantin.nama}}</h5>
                    <p class="card-text">{{kantin.kategori}}</p>
                </div>
            </div>
        </div>
    </div>
    <!-- <div class="row row-cols-1 row-cols-md-3">
        <div class="col mb-4" *ngFor="let kantin of kantin.result.kantin" routerLink="./{{kantin.id}}">
        <div class="card">
            <img src="{{kantin.foto}}" class="card-img-top" style="width: 100%;">
            <div class="card-body">
            <h5 class="card-title">{{kantin.nama}}</h5>
            <p class="card-text">{{kantin.kategori}}</p>
            </div>
        </div>
        </div>
    </div>   -->
</div>
