<head>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
</head>
<body>
    <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet'>
    <div class="aboutus-section">
            <div class="container pt-3 pb-2">
                <div class="row">
                    <div class="form-group col-md-3">
                        <div class="aboutus" style="text-align: justify;">
                            <h2 class="aboutus-title">About Us</h2>
                            <p class="aboutus-text">Kami adalah <span style="font-size: 1.5em; font-weight: bold;">AuthenticStudio!</span> </p>
                            <p class="aboutus-text">Kami adalah orang-orang baik, ramah, tidak sombong, dan rajin menabung, dan berharap untuk menjadi orang yang sukses.</p>
                            <p class="aboutus-text">AuthenticStudio berdiri sejak 29 Mei 2018 dan diresmikan di P.K. Ojong - Jakob Oetama Tower, Universitas Multimedia Nusantara. </p>
                            <p class="aboutus-text"><span style="font-size: 1.5em; font-weight: bold; padding-left: 30px;">AUTHENTICANTEEN</span><br><br>adalah anak perusahaan dari AuthenticStudio, dimana kami dengan setia dan tulus memberikan lapangan pekerjaan kepada lebih dari 20 tenant, dan memberikan gizi yang seimbang bagi mahasiswa-mahasiswi UMN. </p>
                        </div>
                    </div>
                    <div class="form-group col-md-5">
                        <div class="aboutus-banner">
                            <img src="assets/img/authenticstudio.png" width="100%" height="auto"/>
                        </div>
                    </div>
                    <div class="form-group col-md-3">
                        <div class="feature">
                            <div class="feature-box">
                                <div class="clearfix">
                                    <div class="iconset">
                                        <span class="fas fa-user-circle icon"></span>
                                    </div>
                                    <div class="feature-content">
                                        <h4>Antonius Wisnu</h4>
                                        <p>Developer</p>
                                        <p>antonius.wisnu@student.umn.ac.id<br/>
                                            <a href="https://www.instagram.com/primehd76/"> <img src="assets/img/instagramlogo.png" width="10%" height="auto"> </a> <a href="https://stackoverflow.com/users/3732271/akrun"> <img src="assets/img/stackoverflowlogo.png" width="12%" height="auto"> </a>
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="feature-box">
                                <div class="clearfix">
                                    <div class="iconset">
                                        <span class="fas fa-user-circle icon"></span>
                                    </div>
                                    <div class="feature-content">
                                        <h4>Michael Oktavian Budiman </h4>
                                        <p>Developer</p>
                                        <p>michael.budiman@student.umn.ac.id<br/>
                                            <a href="https://www.instagram.com/michaeloktavian98/"> <img src="assets/img/instagramlogo.png" width="10%" height="auto"> </a> <a href="https://stackoverflow.com/users/2901002/jezrael"> <img src="assets/img/stackoverflowlogo.png" width="12%" height="auto"> </a>
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="feature-box">
                                <div class="clearfix">
                                    <div class="iconset">
                                        <span class="fas fa-user-circle icon"></span>
                                    </div>
                                    <div class="feature-content">
                                        <h4>Neven Yusuf</h4>
                                        <p>Developer</p>
                                        <p>neven.yusuf@student.umn.ac.id<br/>
                                            <a href="https://www.instagram.com/gregorius_neven/"> <img src="assets/img/instagramlogo.png" width="10%" height="auto"> </a> <a href="https://stackoverflow.com/users/1144035/gordon-linoff"> <img src="assets/img/stackoverflowlogo.png" width="12%" height="auto"> </a>
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="feature-box">
                                <div class="clearfix">
                                    <div class="iconset">
                                        <span class="fas fa-user-circle icon"></span>
                                    </div>
                                    <div class="feature-content">
                                        <h4>Samuel Antoinne</h4>
                                        <p>Developer</p>
                                        <p>samuel.mulyadi@student.umn.ac.id<br/>
                                            <a href="https://www.instagram.com/samuelantoinne/"> <img src="assets/img/instagramlogo.png" width="10%" height="auto"> </a> <a href="https://stackoverflow.com/users/6309/vonc"> <img src="assets/img/stackoverflowlogo.png" width="12%" height="auto"> </a>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </div>
</body>