<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<link href="//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-2.1.3.min.js"></script>

<div class="container">
    <!-- <form class="text-center">
        <div>
            <h1>Register</h1>
            Username<br/>
            <input type="text" name="username" [(ngModel)]="username"><br/>
            Telepon<br/>
            <input type="text" name="telepon" [(ngModel)]="telepon"><br/>
            Email<br/>
            <input type="text" name="email" [(ngModel)]="email"><br/>
            Nama Lengkap<br/>
            <input type="text" name="nama_lengkap" [(ngModel)]="nama_lengkap"><br/>
            Alamat<br/>
            <input type="text" name="alamat" [(ngModel)]="alamat"><br/>
            Tanggal Lahir<br/>
            <input type="text" name="tanggal_lahir" [(ngModel)]="tanggal_lahir"><br/>
            Foto<br/>
            <input type="text" name="foto" [(ngModel)]="foto"><br/>
            Password<br/>
            <input type="password" name="password" [(ngModel)]="password"><br/><br/>
        </div>
        <input type="submit" value="Register" (click)="register()" class="btn btn-primary">
        <a routerLink="/login" routerLinkActive="active"> &nbsp; Login</a>
    </form> -->
    <form class="form-group col-md-6">
        <div class="col-md-6">
            <label>Username</label>
            <div class="form-group"></div>
            <input type="text" id="Username" placeholder="Username" class="form-control" name="username" [(ngModel)]="username" autofocus>
        </div>
        <div class="form-group col-md-6">
            <div class="col-md">
            <label>Telepon</label>
            <div class="form-group col-md"></div>
            <input type="text" id="Telepon" placeholder="Telepon" class="form-control" name="telepon" [(ngModel)]="telepon" autofocus>
        </div>
        </div>
        <div class="form-group col-md-6">
            <label>Email</label>
            <div class="col-md"></div>
            <input type="email" id="Email" placeholder="Email" class="form-control" name="email" [(ngModel)]="email" autofocus>
        </div>
        <div class="form-group col-md-6">
            <label>Nama Lengkap</label>
            <div class="col-md"></div>
            <input type="text" id="Nama Lengkap" placeholder="Nama Lengkap" class="form-control" name="nama_lengkap" [(ngModel)]="nama_lengkap" autofocus>
        </div>
        <div class="form-group col-md-6">
            <label>Alamat</label>
            <div class="col-md"></div>
            <input type="text" id="Alamat" placeholder="Alamat" class="form-control" name="alamat" [(ngModel)]="alamat" autofocus>
        </div>
        <div class="form-group col-md-6">
            <label>Tanggal Lahir</label>
            <div class="col-md"></div>
            <input type="date" class="form-control" name="tanggal_lahir" [(ngModel)]="tanggal_lahir">
        </div>
        <div class="form-group col-md-6">
            <label>Foto</label>
            <div class="col-md"></div>
            <input type="text" class="form-control" name="foto" [(ngModel)]="foto">
        </div>
        <div class="form-group col-md-6">
            <label>Password</label>
            <div class="col-md"></div>
            <input type="password" id="Password" placeholder="Password" class="form-control" name="password" [(ngModel)]="password" autofocus>
        </div>
        <!-- <div class="form-group">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" id="gridCheck">
                <label class="form-check-label" for="gridCheck">
                  Check me out
                </label>
            </div>
        </div> -->
        <input type="submit" value="Register" (click)="register()" class="btn btn-primary">
        <a routerLink="/login" routerLinkActive="active"> &nbsp; Login</a>
    </form>
</div>